.login{
  max-width: 500px;
  padding: 20px;
  width: 97%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  margin-top: 8rem;
  box-shadow: 0 8px 32px 0 rgba(192, 189, 189, 0.37);
}