.bgError{
  width: 100%;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  background: #f2f2f2;
 
}


.errorNumber{
  font-size: 25vmax;
  background: #56CCF2; 
  background-image: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);  
  background-image: linear-gradient(to bottom, #56ccf2, #2f80ed); 
  background-clip: text;
  color: transparent;
}

.errorCopy{
  font-size: 2rem;
  margin-top: -5vmax;
  font-weight: 700;
}

.btnNotFound{
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  padding: .5rem ;
  text-decoration: none;
  color: #2F80ED;
  border-radius: 10px;
  font-weight: 700;
  border: 2px solid currentColor;
}