*,
::after,
::before {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
}

body {
  background-color: #e9eef6;
  font-family: "Nunito", sans-serif;
}
ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}
.flex{
  display: flex;
  align-items: center;
  gap: 20px;
}
.space-between{
  justify-content: space-between;
}
.mb-2{
  margin-bottom: 2rem;
}