*,
::after,
::before {
  box-sizing: border-box;
}

body,
h1, h2, h3 {
  margin: 0;
}

body {
  background-color: #e9eef6;
  font-family: "Nunito", sans-serif;
}
ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  color: #758092;
}

button > span {
  margin-right: 5px;
}
.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}
.space-between{
  justify-content: space-between;
}
.mb-2{
  margin-bottom: 2rem;
}

.contentCenter{
  display: grid;
  place-content: center;
}